@import url(https://fonts.googleapis.com/css?family=Arimo:regular,700);

$fontfamily: "Arimo", sans-serif;

@function calcSize($f-min, $f-max, $w-min, $w-max) {
   $k: ($f-max - $f-min)/ ($w-max - $w-min);
   $b: $f-min - $k * $w-min;

   $b: $b * 1px;

   @return calc(#{$k} * 100vw + #{$b});
}

@import "_nullstyle";

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   font-family: $fontfamily;
   background: #430179;
   color: #f3f6f9;
   overflow-wrap: anywhere;
   //white-space: pre-line;
}

.container {
   max-width: 700px;
   margin: 0 auto;
   padding: 0 10px;
}

.header {
   margin: 40px 0;

   @media (max-width: 699px) {
      margin: calcSize(20, 40, 320, 699) 0 20px;
   }

   &__title {
      font-size: 36px;
      line-height: 40px;
      padding: 0 40px;

      @media (max-width: 699px) {
         font-size: calcSize(24, 36, 320, 699);
         padding: 0 calcSize(20, 40, 320, 699);
      }
   }
}

.page {
   flex: 1 1 auto;
}

.footer {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   padding: 15px;
   gap: 15px 50px;
   color: rgba(255, 255, 255, 0.5);
}
